mixin card(repo)
    .card(style="width: 18rem;")
        .card-body
            h5.card-title #{repoList[0]}
            ul
                li Manifest 1
                li Manifest 2
            a(href="#").btn.btn-primary Repo details