extends layout.pug

block content
  .container
    .row.small-margin-top
      .col-lg-12
        .jumbotron.jumbotron-fluid.text-center.bg-white
          .container
            h1.display-4 LMD Version Control System
            p.lead A lightweight, web-based, intuitive VCS.
            a.btn.btn-outline-primary.small-margin-top.ml-2(href='/users') All Users

    .row.text-center.justify-content-center
      .col-lg-6
        form(method='POST')
          p.text-secondary New username is automatically created
          input.text-center#username.form-control.user-input.small-margin-bottom(type='text' name='username' placeholder='Username here' required)
          input#create-repo-button.btn.btn-outline-primary.small-margin-top.mt-4(type='submit')

    
  

