/* FORM STYLE */ 
/* form input[type='text'] {
    margin: 1em 0;
}

form input[type='text']::placeholder {
    text-align: center;
} */

/* Command Guide 
*****************/
#command-line-prepend {
    background-color: white;
}
/* DATA LIST */
h5 {
    font-size: 2rem;
}

h5.card-title {
    font-size: 1rem;
}
