/* .center {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
} */

/* .vertical-center {
    top: 50%;
    position: relative;
    height: 50px;
}

.fit-page {
    height: 100vh;
}

.user-input {
    border-width: 0 0 2px 0;
    outline: none;
}

.small-margin-top {
    margin-top: 16px;
}

.small-margin-bottom {
    margin-bottom: 16px;
} */


/* FORM STYLE
----------------*/ 
form input[type='text'] {
    display: block;
    width: 500px;
    margin: 16px 0;
}

/* DATA LIST
---------------*/
h5 {
    font-size: 2rem;
    margin-top: 1rem;
}
.data-list {
    margin-top: 20px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
